{% extends 'layouts/base.html' %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="site-main">
        <div class="site-main-inner">
            <div class="main-section">
                <h1 class="main-title">Contact me</h1>

                <div class="vcard">
                    <dl class="dl dl-vertical">
                        <dt>E-mail:</dt>
                        <dd>
                            <a href="mailto:seanmercier777@gmail.com"><i class="icon fa fa-envelope"></i> seanmercier777@gmail.com</a>
                        </dd>

                        <dt>&nbsp;</dt>
                        <dd></dd>

                        <dt>LinkedIn:</dt>
                        <dd>
                            <a href="https://www.linkedin.com/in/seanmercier/"><i class="icon fa fa-linkedin"></i> seanmercier777</a>
                        </dd>

                        <dt>Github:</dt>
                        <dd>
                            <a href="https://github.com/seanmercier777/"><i class="icon fa fa-github"></i> seanmercier777</a>
                        </dd>

                    </dl>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}